{% extends "main.html" %}
{% block content %}
<h1>Security</h1>
{% include "account/_tabs.html" %}
<form method="post" data-jwt="1">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="row">
    <label>Current password</label>
    <input name="current_password" type="password" autocomplete="current-password">
  </div>
  <div class="row">
    <label>New password</label>
    <input name="new_password" type="password" autocomplete="new-password">
  </div>
  <div class="row">
    <label>Confirm new password</label>
    <input name="confirm_password" type="password" autocomplete="new-password">
  </div>
  <button class="btn" type="submit">Change password</button>
</form>
{% endblock %}
